/dep/
/build/
/build.paho/
*.swp
*.pyc
/build.paho

*.cache/
aclocal.m4
autoscan.log
compile
config*
!configure.ac
configure
depcomp
install-sh
Makefile
Makefile.in
missing
libtool
ltmain.sh
stamp-h1
.deps/

src/gateway*
src/Makefile
src/Makefile.in